delete:
  - "dashboard/Service SERVICE_NAME SLO Dashboard"
  - "dashboard/Service SERVICE_NAME 4 Golden Signals Dashboard"
  - "slo/Service SERVICE_NAME Availability SLO"
  - "slo/Service SERVICE_NAME Performance SLO"
  - "slo/Service SERVICE_NAME Error SLO"
  - "synthetic-monitor/Service SERVICE_NAME HTTP Check"
  - "synthetic-monitor/Service SERVICE_NAME Browser Check"
