delete:
  - "dashboard/Service SERVICE_NAME SLO Dashboard"
  - "dashboard/Service SERVICE_NAME 4 Golden Signals Dashboard"
  - "slo/SERVICE_NAME Availability SLO"
  - "slo/SERVICE_NAME Performance SLO"
  - "slo/SERVICE_NAME Error SLO"
  - "management-zone/Service SERVICE_NAME"
  - "synthetic-monitor/Service SERVICE_NAME HTTP Check"
  - "synthetic-monitor/Service SERVICE_NAME Browser Check"
